.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 0.75rem;
}

.first {
  display: flex;
  flex-direction: column;
  border: 3px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
  gap: 0.75rem;
  font-size: 1.2rem;
}

.second {
  display: flex;
  flex-direction: column;
  border: 3px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
  gap: 1rem;
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
}

.start {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: black;
  color: white;
  border-radius: 5px;
}
